body {
    background: url(../img/4.jpg) ;
}

  .tobar{
    width: 420px;
    height: 610px;
    background:silver;
    color: aliceblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 20px;
    
  }
  .tobar .avatar{
    width: 120px;
    height: 120px;
    border-radius: 150%;
    position: absolute;
    top: 30px;/* para ubicar el avatar arriba*/
    left: calc(46% - 50px);
    border-style: outset;
  
  }

  .tobar .reg{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    position: absolute;
    top: -5px;/* para ubicar el avatar arriba*/
    left: calc(30% - 40px);
  }
 
 
  #registrar{
    background:white;
    color: black;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 35px 110px; 
    border-radius: 40px;
    border: 2px solid rgb(22, 38, 54);
    border-style: outset;
    border-bottom: 6px solid rgb(36, 179, 179);
    background-color: lightgrey;
  }

  #regt{
    font: caption;
    font-size: 12pt; 
    
    background:rgba(20, 64, 146, 0.465);
    color: black;
    top: 14%;
    left: 43%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px 20px; 
    border-radius: 40px;
    border: 2px solid DodgerBlue;
    border-style: outset;
    border-bottom: 6px solid rgb(49, 46, 46);
    background-color: lightgrey;
  }

  #Nom{
    background:white;
    color: black;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 170px 105px; 
    border-radius: 10px;
    background:silver;
    color: aliceblue;
}

#l1{
    background:white;
    color: black;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-105%, -160%);
    padding: 15px 2px; 
    border-radius: 5px;
    border-color:black;

}
#l2{
    background:white;
    color: black;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(5%, -160%);
    padding: 15px 2px; 
    border-radius: 5px;
    border-color:black;

}

#l3{
    background:white;
    color: black;
    top: 33%;
    left: 155%;
    position: absolute;
    transform: translate(-139%, -109%);
    padding: 15px 60px; 
    border-radius: 5px;
    border-color:black;
}
#l4{
    background:white;
    color: black;
    top: 55%;
    left: 109%;
    position: absolute;
    transform: translate(-105.5%, -153%);
    padding: 15px 60px; 
    border-radius: 5px;
    border-color:black;
}
#l5{
    background:white;
    color: black;
    top: 72%;
    left: 109%;
    position: absolute;
    transform: translate(-105.5%, -165%);
    padding: 15px 60px; 
    border-radius: 5px;
    border-color:black;
}
#l6{
    background:white;
    color: black;
    top: 87%;
    left: 109%;
    position: absolute;
    transform: translate(-105.5%, -163%);
    padding: 15px 60px; 
    border-radius: 5px;
    border-color:black;
}
#l7{
    background:white;
    color: black;
    top: 101%;
    left: 109%;
    position: absolute;
    transform: translate(-105.5%, -150%);
    padding: 15px 60px; 
    border-radius: 5px;
    border-color:black;
}


  #gm{
    position: absolute;
    width: 55px;
    height: 55px; 
    top: 12.2%;
    left: 83%;
    transform: translate(30%, 50%);
    padding: 15px 60px; 
  }
  #ps{
    position: absolute;
    left: 85%;
    width: 55px;
    height: 55px; 
    top: 27%;
    transform: translate(70%, 78%);
    padding: 15px 60px; 
  }
  #te{
    position: absolute;
    left: 86%;
    width: 50px;
    height: 50px; 
    top: 44%;
    transform: translate(75%,124%);
    padding: 15px 60px; 
  }
  #ma{
     position: absolute;
    left: 87%;
    width: 45px;
    height: 45px; 
    top: 59%;
    transform: translate(78%,134%);
    padding: 15px 60px; 
  }
  #ci{
    position: absolute;
    left: 88%;
    width: 45px;
    height: 45px; 
    top:  75%;
    transform: translate(78%,144%);
    padding: 15px 60px; 
  }