body {
    background: url(../img/azul.jpg)  ;
    background-size: cover;
    font-family: sans-serif;
}

.barin{
    width: 1320px;
    height: 100px;
    background-color: rgb(229, 233, 235);
    color: rgb(31, 31, 31);
    top: 12%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 25px; 
    border-radius: 5px;
   
}

.usua{
    width: 200px;
    height: 500px;
    background-color: rgb(216, 196, 196);
    color: rgb(31, 31, 31);
    top: 64%;
    left: 8.5%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 5px;

}
.bodyin{
    width: 1100px;
    height: 500px;
    background-color: rgb(216, 196, 196);
    color: rgb(31, 31, 31);
    top: 64%;
    left: 58%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 5px;

}